/* .MainPage {
} */

/* .Login {
  width: 100%;
  margin-top: 100px;
  max-width: 550px;
  height: 770px;
  border-radius: 6px;
  border: 2px solid #8dc5b1;
  background-color: rgb(252, 252, 252);
  margin: 0 auto;
  padding: 52px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px #ccc;
} */

.Login {
  width: 100%;

  max-width: 530px;

  height: 800px;
  margin-top: 20px;
  border-radius: 6px;
  border: 3px groove #006d77;
  border-radius: 15px;
  background-color: rgb(252, 252, 252);

  margin: 0 auto;

  padding: 52px;

  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  /* box-shadow: 10px 10px 6px rgb(179, 174, 174); */
}

.Login h1 {
  margin: -25px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: beige;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  border: 4px groove #006d77;
  margin-bottom: 24px;
}

.InputField {
  width: 100%;
  padding-top: 18px;
  font-size: 14px;
  box-sizing: border-box;
  border: 0;
  margin-top: 2px;
  border-bottom: 1.5px solid #141111;
  margin-bottom: 16px;
  outline: none;
  border-radius: 1px;
}

.Button {
  display: inline-block;

  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.2em;
  padding: 10px;

  font-size: 15px;

  font-weight: 500;

  letter-spacing: 1px;

  background-color: black;

  color: white;

  border: none;

  outline: none;

  cursor: pointer;

  align-self: center;

  height: 45px;

  margin: 20px 55px;
}
.Title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
  border: 2px solid rgb(40, 129, 95);
}

.Button1 {
  display: inline-block;

  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.2em;
  padding: 10px;

  font-size: 15px;

  font-weight: 500;

  letter-spacing: 1px;

  background-color: black;

  color: white;

  border: none;

  outline: none;

  cursor: pointer;

  align-self: center;

  height: 45px;

  margin: 20px 135px;
}
