/* .MainPage {
  height: 100%;
} */

.Login {
  width: 100%;
  margin-top: 100px;
  max-width: 450px;
  border-radius: 7px;
  border: 5px groove #504e4e;

  border: 3px groove #006d77;
  border-radius: 15px;
  margin: 0 auto;

  padding: 32px;

  box-sizing: border-box;
  background-color: rgb(252, 252, 252);

  display: flex;

  flex-direction: column;

  box-shadow: 0 0 6px #ccc;
}

.Login h1 {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: beige;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  border: 4px groove #006d77;
  margin-bottom: 24px;
}

.InputField {
  width: 100%;

  padding-top: 18px;

  padding: 5px;
  font-size: 14px;

  box-sizing: border-box;

  border: 0;

  /* margin-top: 2px; */

  border-bottom: 1.5px solid #141111;

  margin-bottom: 16px;

  outline: none;

  border-radius: 1px;
}

.Title {
  text-align: center;
  font-family: serif;
  font-weight: 700 !important;
  border: 4px groove rgb(40, 129, 95);
}
label {
  font-weight: 700 !important;
  letter-spacing: 0.5px !important;
}
.Button1 {
  display: inline-block;

  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.2em;
  padding: 10px;

  font-size: 15px;

  font-weight: 500;

  letter-spacing: 1px;

  background-color: black;

  color: white;

  border: none;

  outline: none;

  cursor: pointer;

  align-self: center;

  height: 45px;

  margin: auto;
  display: list-item;
}
.Button {
  display: inline-block;

  width: 150px;
  border-radius: 30px;
  letter-spacing: 0.2em;
  padding: 10px;

  font-size: 15px;

  font-weight: 500;

  letter-spacing: 1px;

  background-color: black;

  color: white;

  border: none;

  outline: none;

  cursor: pointer;

  align-self: center;

  height: 45px;
  margin: 30px auto;
  display: list-item;
  /* margin: 20px 55px; */
}
