.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background {
  background-color: #83c5be;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */

.card-view {
  margin-top: 75px;
  margin-left: 270px;
  justify-content: center;
}

.cb {
  padding: 1.25rem;
  align-self: center;
}
button.btn.btn-secondary {
  background-color: #111111;
  width: 80px;
}

tbody {
  background-color: #f7eaea;
}
th {
  background-color: #006d77;
  color: white;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #0a0a0a;
}
